In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('data/universe.csv')

In [3]:
print(df.shape)
print(df.columns)

(16349, 33)
Index(['EFFDATE', 'INDEX_ALIAS', 'SECURITY_ALIAS', 'CUSIP', 'TICKER',
       'DESCRIPTION', 'COUNTRY', 'CURRENCY', 'COUPON', 'MAT_DT', 'RATING',
       'FE_SECTOR', 'CLASS_1', 'CLASS_2', 'CLASS_3', 'CLASS_4', 'PRICE',
       'MODDUR', 'EFFDUR', 'OAS', 'YTM', 'SDUR', 'MV_BOM', 'MV', 'MW',
       'DAY_TOT', 'DAY_EX', 'MTD_TOT', 'MTD_EX', 'DC', 'SDC', 'MV_TOT',
       'DUR_CELL'],
      dtype='object')

In [52]:
assert len(df[['CUSIP', 'CLASS_1', 'CLASS_2', 'CLASS_3', 'CLASS_4']].drop_duplicates()) == len(df['CUSIP'].unique())

AssertionError:

In [47]:
spares = df[['CUSIP', 'CLASS_1', 'CLASS_2', 'CLASS_3', 'CLASS_4']].drop_duplicates().groupby('CUSIP').count()

In [53]:
spares.loc[(spares > 1).values]

          CLASS_1  CLASS_2  CLASS_3  CLASS_4
CUSIP
74348DAA        2        2        2        2
74348DAA        2        2        2        2
74348DAA        2        2        2        2
74348DAA        2        2        2        2

In [65]:
df[df['CUSIP'] == '74348DAA'][['CLASS_1', 'CLASS_2', 'CLASS_3', 'CLASS_4']]

          CLASS_1     CLASS_2         CLASS_3                  CLASS_4
7046   CORPORATES  INDUSTRIAL  TRANSPORTATION  TRANSPORTATION_SERVICES
10014  CORPORATES     UTILITY   UTILITY_OTHER            UTILITY_OTHER

In [73]:
df['EFFDATE'].iloc[0]

'2/29/2020'

In [7]:
df['RATING'].unique()

array(['BBB', 'A', 'AA', 'AAA'], dtype=object)

In [10]:
min(df['MV'])

138.331123

In [12]:
df['CURRENCY'].unique()

array(['USD'], dtype=object)

In [14]:
df['CLASS_2'].unique()

array(['INDUSTRIAL', 'UTILITY', 'FINANCIAL'], dtype=object)

In [15]:
df['EFFDATE']

0        2/29/2020
1        2/29/2020
2        2/29/2020
3        2/29/2020
4        2/29/2020
           ...
16344    3/31/2020
16345    3/31/2020
16346    3/31/2020
16347    3/31/2020
16348    3/31/2020
Name: EFFDATE, Length: 16349, dtype: object

In [16]:
df.iloc[0]

EFFDATE                           2/29/2020
INDEX_ALIAS                          102454
SECURITY_ALIAS                      4896121
CUSIP                              40052VAE
TICKER                               BIMBOA
DESCRIPTION       Grupo Bimbo S.A.B de C.V.
COUNTRY                                  MX
CURRENCY                                USD
COUPON                                  4.7
MAT_DT                           11/10/2047
RATING                                  BBB
FE_SECTOR                              CORP
CLASS_1                          CORPORATES
CLASS_2                          INDUSTRIAL
CLASS_3               CONSUMER_NON_CYCLICAL
CLASS_4                   FOOD_AND_BEVERAGE
PRICE                            114.365997
MODDUR                               16.049
EFFDUR                               16.364
OAS                                     223
YTM                                   3.851
SDUR                                 15.687
MV_BOM                           732.713805
MV                               752.798557
MW                                 0.000099
DAY_TOT                            0.963278
DAY_EX                            -1.173142
MTD_TOT                               2.716
MTD_EX                               -3.464
DC                                 0.001622
SDC                                0.001555
MV_TOT                          7575395.915
DUR_CELL                                15+
Name: 0, dtype: object

In [17]:
import datetime as dt

In [21]:
df[df['EFFDATE'] == '2/29/2020']['MV'].sum()

7563004.096146999