In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('data/universe.csv')

In [3]:
print(df.shape)
print(df.columns)

(16349, 33)
Index(['EFFDATE', 'INDEX_ALIAS', 'SECURITY_ALIAS', 'CUSIP', 'TICKER',
       'DESCRIPTION', 'COUNTRY', 'CURRENCY', 'COUPON', 'MAT_DT', 'RATING',
       'FE_SECTOR', 'CLASS_1', 'CLASS_2', 'CLASS_3', 'CLASS_4', 'PRICE',
       'MODDUR', 'EFFDUR', 'OAS', 'YTM', 'SDUR', 'MV_BOM', 'MV', 'MW',
       'DAY_TOT', 'DAY_EX', 'MTD_TOT', 'MTD_EX', 'DC', 'SDC', 'MV_TOT',
       'DUR_CELL'],
      dtype='object')

In [52]:
assert len(df[['CUSIP', 'CLASS_1', 'CLASS_2', 'CLASS_3', 'CLASS_4']].drop_duplicates()) == len(df['CUSIP'].unique())

AssertionError:

In [47]:
spares = df[['CUSIP', 'CLASS_1', 'CLASS_2', 'CLASS_3', 'CLASS_4']].drop_duplicates().groupby('CUSIP').count()

In [53]:
spares.loc[(spares > 1).values]

          CLASS_1  CLASS_2  CLASS_3  CLASS_4
CUSIP
74348DAA        2        2        2        2
74348DAA        2        2        2        2
74348DAA        2        2        2        2
74348DAA        2        2        2        2

In [65]:
df[df['CUSIP'] == '74348DAA'][['CLASS_1', 'CLASS_2', 'CLASS_3', 'CLASS_4']]

          CLASS_1     CLASS_2         CLASS_3                  CLASS_4
7046   CORPORATES  INDUSTRIAL  TRANSPORTATION  TRANSPORTATION_SERVICES
10014  CORPORATES     UTILITY   UTILITY_OTHER            UTILITY_OTHER

In [73]:
df['EFFDATE'].iloc[0]

'2/29/2020'

In [7]:
df['RATING'].unique()

array(['BBB', 'A', 'AA', 'AAA'], dtype=object)

In [10]:
min(df['MV'])

138.331123